.side-menu-item {
    height: 80px;
}

.ant-layout-header[style] {
    padding: 0 50px;
    height: 64px;
    width: 76.53% !important;
    line-height: 64px;
    background: #f0f2f5;
  }
  
  .ant-menu-item[style] {
    padding-left: 8px !important;
  }
  
  

  .ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    line-height: 40px;
    height: 90px;
    list-style-type: disc;
    list-style-position: inside;
  }
/* 
  .ant-layout-sider 
  
  .ant-layout-sider-dark  */

/*
  .ant-layout-sider-collapsed[style] {
    flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;
  }
  
.ant-layout-sider[style]  {
    flex: 0 0 300px !important;
    max-width: 300px !important;
    /* min-width: 300px !important;
    width: 300px !important;
}
*/
/* .ant-layout-sider-has-trigger[style] {
    flex: 0 0 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
} */
/*
.ant-layout-sider-dark[style] {
    flex: 0 0 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
}
*/ 
/* #48a9d0 */


.ant-menu-dark {
    background : #48a9d0;
   

}
.ant-layout-sider  {
    background : #48a9d0;
}

.ant-layout-sider-trigger {
    background : #48a9d0;
}
.cc[style] {
    flex: 0 0 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
}

.ant-layout-content[style] {
    margin-top: 80px !important;

}

